@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .logo-font-prime {
    font-family: "Inter", sans-serif;
    font-weight: 900;
    font-style: italic;
  }
  .logo-font-marketing {
    font-family: "Inter", sans-serif;
    letter-spacing: 0.3em;
  }
}

@keyframes scroll-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-33.333%);
  }
}

@keyframes scroll-right {
  0% {
    transform: translateX(-33.333%);
  }
  100% {
    transform: translateX(0);
  }
}

.animate-scroll-left {
  animation: scroll-left 30s linear infinite;
}

.animate-scroll-right {
  animation: scroll-right 30s linear infinite;
}

.animate-scroll-left:hover,
.animate-scroll-right:hover {
  animation-play-state: paused;
}

#contact-modal:target {
  display: flex;
}
